[Desktop Entry]
Encoding=UTF-8
Name=Tabletop Weather Station Demo
Name[de]=Tisch-Wetterstation Demo
Version=1.0
Comment=Demo for Tabletop Weather Station
Comment[de]=Demo für Tisch-Wetterstation
GenericName=Tabletop Weather Station Demo
Terminal=false
Icon=tabletop_weather_station_demo-icon.png
Type=Application
Exec=tabletop_weather_station_demo --gui
Categories=Development;Electronics
